/* tot site-ul */

html{
    font-size:65%
}
img{
    width: 100%;
}
body{
    font-size:65%;
    font-family: opensans , sans-serif;
    font-weight: 400;
    margin: 0;
    color: rgb(152, 152, 152);
    background-color: #FFF;
}
#header{
    background: url('./poze/imagine-fundal.png') no-repeat center;
    position: relative;
    z-index: 2;
    background-size: cover;
    border: 1px solid black;
    height:100vh;
}
.meniu{
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    top: 0;  
    height: 12rem;
    z-index: 2;
    width:100%;

}
.zengo {
    font-size: 3.7rem;
    font-family: Lobster !important;
    color: rgb(220, 41, 41);
    line-height: 0.706;
    text-align: Left;
    position: relative;
    top: 34px;
    z-index: 360;
    float: left;
    opacity: 1;
 }
.text {
    font-size: 1.2rem;
    font-family: Open Sans;
    color: rgb(255, 255, 255);
    line-height: 2;
    text-align: Left;
    position: absolute;
    padding: 7vh 0vh 0vh 7vh

}

.meniu .img{
    padding: 4vh 3vh;
    width:auto;
    float:left;
}


.lista1{
    padding-right: 3rem;
    margin-top: 5rem;
    text-align:right;
    font-size:1.4rem
}
ul{
    list-style-type: none;
    
}
#header a{
    text-decoration: none;
    color: #fff;
    font-weight:400;
    
}
.lista1 a:hover{
    color: rgb(220, 41, 41)!important;
    font-weight: 400;
    cursor:default;    
}

.mijloc{
   width:60rem;
   margin:0 auto;
   padding-top:40rem;
}
.text2{
	margin: 0px 2rem;
	position: relative;
	color: #fff;
	font-size: 3rem;
    text-align: center;
	
}
.text3{
	position: relative;
	color: #fff;
	font-size: 18px;
    text-align: center;
}
.zengo1{
    font-size: 7rem;
    font-family: Lobster !important;
    color: rgb(220, 41, 41);
    margin-left: 1rem;
    text-align: center;
}
.scroll{
     background: url("./poze/aaaaa.png") no-repeat;
    position: relative;
    height: 100px;
    padding-bottom: 6px;
    padding-left: 35px;
    padding-right: 75px;
    padding-top: 8px;
    margin-left: 40%;
    font-size: 14px;
}
.scroll a:hover{
    text-decoration: none;
}
.main{
	
	width: 100%;
	position: relative;
    align-content: center;
}
#hr1{
  
    width: 36rem;
    z-index: 2;
    position: relative;
    margin-bottom: 65px;
    color: rgb(46, 57, 71);
}
#linie{
    border: 3px solid #cc3333;
    width: 70px;
    margin-bottom: -24px;
    z-index: 10;
    position: relative;
    margin-left: 48%;
}
#bg2{
    margin:0 0;
}
#sus{
    text-align: center;
    
}
.about{
	font-size: 70px;
    font-family: Lobster !important;
    color: #000;
    
}
.us{
	font-size: 70px;
    font-family: Lobster !important;
    color: rgb(220, 41, 41);
}
.text4{
	align-content: center;
	font-family: opensans !important;
	font-size: 21px;
	color: rgb(152, 152, 152);
	position: relative;
    padding-bottom: 25px;
	
}
.text5{
	text-align: center;
	font-family: opensans light !important;
	font-size: 25px;
	color: rgb(152, 152, 152);
	margin: 0 0 10px;
    
}
.jos{
    text-align: center;
    margin:13rem 0;
}

.jos h1{
    font-family: lobster !important;
    font-size: 24px;
    margin-bottom: 25px;
}
.jos h2{
    font-family: Opensans Light !important;
    font-size: 1.3rem;
    margin-bottom: 2.5rem;
}
.jos a{
    text-decoration: none;
    font-family: Opensans Semibold !important;
    font-size: 12px;
    color: rgb(220, 41, 41);
}
.jos a:hover{
    text-decoration: none;
     color: rgb(220, 41, 41);
}
#bg3{
    background-color: rgb(30, 38, 49);
    height: 100vh;
    
}
#sus2{
    margin-top: 80px;
    text-align: center;
}
.our{
    font-size: 70px;
    font-family: Lobster !important;
    color: #FFF;
	
}
.portofolio{
    font-size: 70px;
    font-family: Lobster !important;
    color: rgb(220, 41, 41);
}

.hexagon{
    position: relative;
    padding-right: 2rem;
    padding-bottom: 3rem;

}
.d1 {
    background-color: #FFF;
    width: 120px;
    height: 70px;
    border-right: 1px solid rgb(229, 229, 229);
    border-left: 1px solid rgb(229, 229, 229);
    position: absolute;
    bottom: 20px;
    left: 30%;
    transition: all 2s ease;
}
 .d2 {
    background-color: #FFF;
    color:red;
    width: 120px;
    height: 70px;
    border-right: 1px solid rgb(229, 229, 229);
    border-left: 1px solid rgb(229, 229, 229);
    position: absolute;
    color:red;
    transform: rotate(60deg);
    bottom: 20px;
    left:30%;
    transition:all 2s ease;
    
    
}
.d3 {
    background-color: #FFF;
    width: 120px;
    height: 70px;
    border-right: 1px solid rgb(229, 229, 229);
    border-left: 1px solid rgb(229, 229, 229);
    position: absolute;
    color:red;
    transform: rotate(120deg);
    bottom: 20px;
    left:30%;
    transition: all 2s ease;
   }
.hexagon:hover .d1{
    background-color: #dc2929; 

    
}
.hexagon:hover .d2{
    background-color: #dc2929; 

  
}
.hexagon:hover .d3{
    background-color: #dc2929;  

    
}
    
.icon {
    text-align: center;
}
.hexagon i {
    color: #dc2929;
    position: relative;
    z-index: 10;
}
.hexagon:hover i{
    color: #FFF;
}
.page_img {
    width: 100%;
    position: relative;
}

.image {
    float: left;
    width: 25%;
    position: relative;
}

.image > img {
    width: 100%;
}

.img_info {
    background-color: rgba(30, 38, 49, 0.9);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: auto;
    text-align: center;
    display: none;
    padding-top: 150px;
    font-weight: 100;
    letter-spacing: 1px;
}

.project {
    font-size: 14px;
    color: #fff;
}

.description {
    font-size: 11px;
    color: #c6f5ff;
}

.site {
    font-size: 10px;
}

.image:hover > .img_info {
    display: table-cell;
}
#bg3 #hr1{
    margin-bottom: 7rem;
}
#bg4{
    background-color: #FFF;
    text-align: center;
    margin-top: 5rem;
}
.img-stil1{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#bg4 h3{
    font-family: opensans !important;
    font-size: 20px;
    color: #dc2929
}
#bg4 h4{
     font-family: opensans !important;
    font-size: 12px;
    color: rgb(158, 165, 173)
}

#bg4 .jos3 #hr1{
    width: 60px;
    margin-bottom: 30px;
}
#bg4 .jos3 #linie{
    border: 2px solid #dc2929;
    width: 15px;
}
.img-stil img{
    filter: grayscale( 100%);
}
.img-stil img:hover{
    filter: grayscale( 0%);
}
.fb, .gp, .tw{
    filter: grayscale(100%);
    opacity: 0.6;
    padding-right: 2px;
}
.fb:hover {
    filter: grayscale(0%);
    opacity:1;
}
.tw:hover {
    filter: grayscale(0%);
    opacity:1;
}
.gp:hover {
    filter: grayscale(0%);
    opacity:1;
}
.desc{
    background: url('./poze/bg1.jpg') no-repeat center;
    position: relative;
    background-size: cover;
    text-align: center;
    font-weight: 100;
    padding-bottom: 110px;
    padding-top: 2px;
    margin-top: 40px;
}
.desc h1{
    margin-top: 70px;
    font-family: opensans Light !important;
    font-size: 44px;
    color: #fff;
    margin-bottom: -5px;
    font-weight: 100; 
    
    
}
.desc h4{
    font-family: opensans Light !important;
    font-size: 14px;
    color: #fff;
}
.desc1{
    font-family: opensanlight italic !important;
    font-size: 18px;
    color: rgb(221, 218, 223);
    padding-top: 25px;
    margin-bottom: 50px;
}
#cerc{
    display: inline;
    align-content: center;
}
#cerc-alb{
    width: 10px;
   height: 10px;
   background: #FFF; 
   border-radius: 70px;
   margin-left: 48%;
}
#cerc-rosu1{
    width: 10px;
   height: 10px;
   background: rgb(172, 28, 28); 
   border-radius: 70px;
   margin-left: 50%;
   margin-top: -10px;
}
#cerc-rosu2{
    width: 10px;
   height: 10px;
   background: rgb(172, 28, 28); 
   border-radius: 70px;
   margin-left: 52%;
   margin-top: -10px;
}
#bg5 #sus{
    text-align: center;
    padding-top: 30px;
}
.jos4{
    margin: 0 100px;
}
.jos4 h1{
    font-family: opensans !important;
    font-size: 18px;
    font-weight: 600;
    color : rgb(64, 68, 71);
    text-align: left;
}
.jos4 hr{
    border: 0;
    border-bottom: 1px dotted rgb(219, 219, 219);
    border-bottom-width: 1px;
}
.jos4 p{
    color : rgb(112, 118, 122);
    font-family: opensans !important;
    font-size: 13px;
    text-align: left;
}
.jos4 a{
    text-decoration: none;
    color: #dc2929;
}
.jos4 a:hover{
    text-decoration: none;
    color: #dc2929;
}
.read{
    height: 35px; 
    background: #dc2929;
    width: 135px;
    border-radius: 6px;
    color:#fff;
    font-family: opensans !important;
    font-size: 13px;
    text-align: center;
    padding-top: 10px;
    filter: grayscale(100%);
    opacity: 0.3;
}
.read:hover{
    filter:grayscale(0%);
    opacity: 1;
}

.data{
    height: 60px;
    width: 60px;
    border: 2px solid #FFF;
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0.5;
    position: absolute;
    margin-bottom: 70px;
    margin-left: 5px;
    margin-top: 5px;
    transition:  1s;
}
.data h1{
    font-size:24px;
    color: #fff;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 5px;
    font-weight: 500;
    
}
.data p{
    font-family: opensans !important;
    font-size:16px;
    color: #fff;
    text-align: center;
     font-weight: 500;
}
.data:hover{
    background: rgba(0, 0, 0, 0.8);
}
#bg6{
    width: 100%;
    height: 200px;
    background-color: rgb(220, 41, 41);
    text-align: center;
    margin-top: 100px;
    padding-top: 50px;
}
#bg6 h1{
    font-family: opensans light !important;
    font-size: 44px;
    color: #FFF;
}
.ask{
    font-family: Lobster !important;
    font-size: 44px;
    color: #FFF;
}
#bg6 p{
    font-family: opensans light !important;
    font-size: 1.6rem;
    color: #FFF;
    
}
/*   Inceputul div-ului de jos */
#footer{
    width: 100%;
    height: auto;
	background-color: rgb(38, 38, 38);
    text-align: left;
    color: rgb(196, 196, 196);
    padding-top: 2.5rem;
    z-index:-2;
    
}
.bot h2{
    font-family: opensans semibold !important;
    font-size: 16px;
}
.linie2{
    width: 54px;
    border: 3px solid #dc2929;
    margin-left: 120px;
    margin-bottom: -23px;
    z-index:6;
    position: absolute;
    
}
.bot hr{
    position: absolute;
    width: 82px;
    z-index:1;
    margin-left: 116px;
    margin-top: 3px;
    color: rgb(81, 81, 81);
}
.bot a{
    
    color: rgb(196, 196, 196);
}
.bot a:hover{
    
     color: rgb(196, 196, 196);
    
}
.bot ul{
    text-align: left;
    margin-left: 80px;
}
.bot1{
    height: 92px;
    width: 100%;
    background: rgb(32, 32, 32);
    color: #fff;
    font-size: 16px;
    font-family: opensans !important;
    text-align:center;
    
}
.bot1 p{
    margin-top: 113px;
    padding-top: 40px;
}
.hr2{ 
    color: rgb(32, 32, 32);
    width: 80%;
    z-index: 1;
    background-color:  rgb(32, 32, 32);
}
.cub{
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
    border: 1px solid #fff;
    margin-left: 50%;
    margin-top: -32px;
    z-index:2;
    background: rgb(38, 38, 38);
}
.cub .sageata{
    transform: rotate(314deg) !important;
    padding-left: 2px;
    color: #dc2929;
}
.imagi{
    padding-top:10px;
}
 

.topnav .icon {
    display: none;
  }
  
.topnav.responsive a {
    float: none;
    display: block;
    text-align: right;    
}

.topnav {
    overflow: hidden;
    float: right;
    }
    
.topnav a {
margin-right:0!important;
display: inline-block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 1.6rem;

}
/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (max-width: 600px) {
    .row{
        margin:0!important;
    }

    /* HEADER AREA  */
    #header{
        height:auto;
        background-size: auto
    }

    /* MIDDLE AREA WHERE THE ZNEGO AND EVERTHING IS */

    .mijloc{
        width:auto;
        padding-top:15rem;
        padding-bottom:10rem;
    }
    .scroll{
        margin-left: 12rem
    }
    .zengo1{
        font-size:5rem
    }
    .text2{
        font-size: 2.5rem;
    }
    .text3{
        font-size: 1.5rem;
    }
    /* END OF THE MIDDLE AREA OF THE HEADER */

    .text{
        padding: 9vh 0vh 0vh 10vh;
        font-size:1rem;
    }
    .zengo{
        font-size:3.2rem;
        top:2.5rem;
    }
    .meniu .img{
        padding:4rem 2rem;
    }

    .meniu {
        position: inherit;
    }
    
    .lista1{
        margin-top: 1rem
    }
    
    .topnav a{
        padding: 1.3rem 1rem;
        font-size:1.2rem
    }

    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav a {display: none; ;}
    .topnav a.icon {
      float: right;
      display: block;
      
    }
 /* END OF THE HEADER AREA  */
 #sus {
    margin-top: 0rem;
}



 /* THE OUR PORTOFOLIO AREA */
.our{
    font-size:6.5rem;
}
.portofolio{
    font-size:6.5rem;
}
#bg3{
    height:70vh
}

 /* THE END OF OUR PORTOFOLIO AREA */
/* THE ABOUT US AREA  */
.about{
    font-size:6rem
}
.us{
    font-size:6rem
}
.text4{
    font-size:1.5rem;
}
.jos{
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 0;
}
    .text5{
        font-size:1.5rem;
    }

/* END OF THE ABOUT US AREA */
.winds{
    padding:3rem 0rem;
}
.hexagon{
    padding-right:1rem;
}
 /* BLOG AREA 0 */

 #bg5 #sus{
    padding-top: 0rem
 }
 
 .jos4{
     margin: 1rem 1rem;
 }
 #sus #linie{
    margin-left: 15rem;
 }

 /* END OF BLOG AREA  */


 /* THE PLACE WHERE THE CAROUSEL SHOULD'VE BEEN */
 #cerc-alb{
    margin-left: 43%;
 }

 #cerc-rosu1 {
    margin-left: 48%;
 }

 #cerc-rosu2 {
    margin-left: 53%;
 }

 /* THE END OF THE PLACE OF THE COURSEL SHOULD'VE BEEN */

 #bg6 h1{
     font-size:1.5rem
 }

/* ASK AREA */
#bg6{
    padding-top:3rem;
}
/* END OF ASK AREA */

 /* FOOTER AREA  */


 #footer {
     height:auto;
 }

 .hr2{
     width:auto;
 }

 .bot h2{
     font-size:1.4rem;
 }
 .bot hr{
     width:7rem
 }
 .linie2{
     width:5rem;
     margin-top: 1px;
     border: 2px solid #dc2929;
 }
 .cub{
     margin-left:45%;
 }
 /* END OF THE FOOTER AREA */


}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    
    .row{
        margin:0!important;
    }
    /* HEADER AREA  */
    .meniu {
        position: inherit;
    }
    #header{
        height:100vh;
        background-size: auto
    }

    /* MIDDLE AREA WHERE THE ZNEGO AND EVERTHING IS */

     /* HEADER AREA */
     .topnav a{
        font-size: 1.2rem;
        padding: 0.7rem
    }
    .zengo{
        top:2.5rem;
    }
    .text2{
        font-size:2.5rem
    }
    .zengo1{
        font-size:6rem
    }
    .text3{
        font-size:1.5rem
    }
    .mijloc{
        padding-top:30rem;
    }
    /* END OF THE HEADER AREA */
  


    /* THE ABOUT US AREA  */
    .about{
        font-size:6rem;
    }
    .us{
        font-size:6rem;
    }
    .text4{
        font-size:1.8rem;
    }
    .text5{
        font-size:2rem;
    }

    .winds{
        padding:3rem 0rem;
    }
    .d1{
        left: 41%;
    }
    .d2{
        left: 41%;
    }
    .d3{
        left: 41%;
    }
    .hexagon{
      padding-left:2rem
    }
    /* END OF THE ABOUT US AREA */

    /* OUR TEAM SECTION */
    .img-stil img{
        width:80%;
    }

    /* END OF OUR TEAM ::selection */

    /* THE PLACE WHERE THE CAROUSEL SHOULD'VE BEEN */
    /* THE END OF THE COURSEL AREA  */
    /* BLOG AREA  */

    .jos4 h1{
        font-size:1.32rem
    }
    .jos4 p{font-size:1.4rem}
    /* END OF BLOG AREA  */


    /* ASK AREA  */
    #bg6 h1{
        font-size:4rem
    }
    #bg6 p{
        font-size:1.4rem;
    }
    /* END OF ASK AREA */
    /* OUR PROJECT ARE */
        .our{
            font-size:6rem
        }
        .portofolio{
            font-size:6rem;
        }
        #bg3{
            height:80vh
        }
        .bot ul{
            text-align:center;
            margin-left:0;
        }
    /* END OF OUR PROJECCT AREA  */

    /* FOOTER AREA */
    .linie2{
        margin-left:36rem;
    }
    .bot h2{
        font-size:1.4rem;
        margin-left:3.5rem;
    }
    .bot1{
        font-size:1.4rem;
    }
    .bot hr{
        margin-left: 35rem
    }
    /* END OF FOOTER AREA */



}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width:769px) and (max-width: 992px) {
      /* HEADER AREA */
      .topnav a{
        font-size:1.4rem;
        padding:1rem;
    }
    .zengo{
        top:2.5rem;
    }
    .text2{
        font-size:2.5rem
    }
    .zengo1{
        font-size:6rem
    }
    .text3{
        font-size:1.5rem
    }
    .mijloc{
        padding-top:30rem;
    }
    /* END OF THE HEADER AREA */
  


    /* THE ABOUT US AREA  */
    .about{
        font-size:6rem;
    }
    .us{
        font-size:6rem;
    }
    .text4{
        font-size:1.8rem;
    }
    .text5{
        font-size:2rem;
    }

    .winds{
        padding:3rem 0rem;
    }
    .d1{
        left: 43%;
    }
    .d2{
        left: 43%;
    }
    .d3{
        left: 43%;
    }
    .hexagon{
      padding-left:2rem
    }
    /* END OF THE ABOUT US AREA */

    /* OUR TEAM SECTION */
    .img-stil img{
        width:80%;
    }

    /* END OF OUR TEAM ::selection */

    /* THE PLACE WHERE THE CAROUSEL SHOULD'VE BEEN */
    /* THE END OF THE COURSEL AREA  */
    /* BLOG AREA  */

    .jos4 h1{
        font-size:1.32rem
    }
    .jos4 p{font-size:1.4rem}
    /* END OF BLOG AREA  */


    /* ASK AREA  */
    #bg6 h1{
        font-size:4rem
    }
    #bg6 p{
        font-size:1.4rem;
    }
    /* END OF ASK AREA */
    /* OUR PROJECT ARE */
        .our{
            font-size:6rem
        }
        .portofolio{
            font-size:6rem;
        }
        #bg3{
            height:80vh
        }
        .bot ul{
            text-align:center;
            margin-left:0;
        }
    /* END OF OUR PROJECCT AREA  */

    /* FOOTER AREA */
    .linie2{
        margin-left:42rem;
    }
    .bot h2{
        font-size:1.4rem;
        margin-left:3.5rem;
    }
    .bot1{
        font-size:1.4rem;
    }
    .bot hr{
        margin-left: 41rem
    }
    /* END OF FOOTER AREA */

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    /* HEADER AREA */

    
    .topnav a{
        font-size:1.4rem
    }
    .zengo{
        top:2.5rem;
    }
    .text2{
        font-size:2.5rem
    }
    .zengo1{
        font-size:6rem
    }
    .text3{
        font-size:1.5rem
    }
    .mijloc{
        padding-top:30rem;
    }
    /* END OF THE HEADER AREA */
    /* THE ABOUT US AREA  */
    .about{
        font-size:6rem;
    }
    .us{
        font-size:6rem;
    }
    .text4{
        font-size:1.8rem;
    }
    .text5{
        font-size:2rem;
    }

     
    .d1{
        left: 25%;
    }
    .d2{
        left: 25%;
    }
    .d3{
        left: 25%;
    }
    .hexagon{
      padding-left:2rem
    }
    /* END OF THE ABOUT US AREA */

    /* OUR TEAM SECTION */
    /* END OF OUR TEAM ::selection */

    /* THE PLACE WHERE THE CAROUSEL SHOULD'VE BEEN */
    /* THE END OF THE COURSEL AREA  */
    /* BLOG AREA  */

    .jos4 h1{
        font-size:1.32rem
    }
    .jos4 p{font-size:1.4rem}
    /* END OF BLOG AREA  */


    /* ASK AREA  */
    #bg6 h1{
        font-size:4rem
    }
    #bg6 p{
        font-size:1.4rem;
    }
    /* END OF ASK AREA */
    /* OUR PROJECT ARE */
        .our{
            font-size:6rem
        }
        .portofolio{
            font-size:6rem;
        }
        #bg3{
            height:80vh
        }
    /* END OF OUR PROJECCT AREA  */

    /* FOOTER AREA */
    .bot h2{
        font-size:1.4rem;
    }
    .bot1{
        font-size:1.4rem;
    }
    /* END OF FOOTER AREA */

}
   
@media only screen and (min-width: 1201px) and (max-width: 1500px) {
 /* HEADER AREA */
 .topnav a {
     font-size:1.4rem
 }
 .text2{
    font-size:4rem;
}
.zengo1{
    font-size:7rem;
}
.text3{
    font-size:1.8rem;
}
.zengo{
    font-size:3.5rem;
}
.text{
    font-size:1.2rem

}

/* END OF THE HEADER AREA */
/* THE ABOUT US AREA  */

.about{
    font-size:8rem;
}

.text5{
    font-size:2rem;
}

.jos h1{
    font-size:2.8rem;
}
.jos h2{
    font-size:1.8rem;
}
.jos a{
    font-size:1.5rem;
}


/* END OF THE ABOUT US AREA */

/* OUR TEAM SECTION */

#bg4 h3{
    font-size:2.2rem;
}
#bg4 h4{
    font-size:1.2rem;
}


/* END OF OUR TEAM ::selection */

/* THE PLACE WHERE THE CAROUSEL SHOULD'VE BEEN */
.desc h1{
    font-size:5rem
}

.desc1{
    font-size:2rem
}

/* THE END OF THE COURSEL AREA  */
/* BLOG AREA  */
.us{
    font-size:8rem;
}
.text4{
    font-size:2.1rem;
}
.jos4 h1{
    font-size: 1.8rem;
    font-weight: 600;
}
.jos4 p{
    font-size: 1.5rem;
}

.read{
    width: 10rem;
    height: 4rem;
    font-size: 1.7rem
}


/* END OF BLOG AREA  */


/* ASK AREA  */
.ask{
    font-size:4.5rem;
}
#bg6 h1{
    font-size:4.5rem;
}
#bg6 p{
    font-size:1.8rem;
}

/* END OF ASK AREA */
/* OUR PROJECT ARE */
.project{
    font-size:1.5rem
}
.description{
    font-size:1.2rem
}
.site{
    font-size:1.1rem;
}

/* END OF OUR PROJECCT AREA  */

/* FOOTER AREA */

.bot h2{
    font-size: 2rem;
}

.bot a{
    font-size:1.3rem;
}
.bot1 p {
    font-size:1.5rem
}

/* END OF FOOTER AREA */
}

@media only screen and (min-width: 1501px) and (max-width: 1920px) {

    /* HEADER AREA */
    .text2{
        font-size:4rem;
    }
    .zengo1{
        font-size:7rem;
    }
    .text3{
        font-size:1.8rem;
    }
    .zengo{
        font-size:4.3rem;
    }
    .text{
        font-size:1.5rem

    }
    
    /* END OF THE HEADER AREA */
    /* THE ABOUT US AREA  */

    .about{
        font-size:8rem;
    }

    .text5{
        font-size:2rem;
    }
    
    .d1{
        left: 40%;
    }
    .d2{
        left: 40%;
    }
    .d3{
        left: 40%;
    }
    .hexagon{
        padding-left:4rem
    }
    .jos h1{
        font-size:3rem;
    }
    .jos h2{
        font-size:2.1rem;
    }
    .jos a{
        font-size:1.7rem;
    }


    /* END OF THE ABOUT US AREA */

    /* OUR TEAM SECTION */

    #bg4 h3{
        font-size:2.2rem;
    }
    #bg4 h4{
        font-size:1.2rem;
    }

    
    /* END OF OUR TEAM ::selection */

    /* THE PLACE WHERE THE CAROUSEL SHOULD'VE BEEN */
    .desc h1{
        font-size:5rem
    }

    .desc1{
        font-size:2rem
    }

    /* THE END OF THE COURSEL AREA  */
    /* BLOG AREA  */
    .us{
        font-size:8rem;
    }
    .text4{
        font-size:2.1rem;
    }
    .jos4 h1{
        font-size: 1.8rem;
        font-weight: 600;
    }
    .jos4 p{
        font-size: 1.5rem;
    }

    .read{
        width: 10rem;
        height: 4rem;
        font-size: 1.7rem
    }

    
    /* END OF BLOG AREA  */


    /* ASK AREA  */
    .ask{
        font-size:4.5rem;
    }
    #bg6 h1{
        font-size:4.5rem;
    }
    #bg6 p{
        font-size:1.8rem;
    }

    /* END OF ASK AREA */
    /* OUR PROJECT ARE */
    .project{
        font-size:1.5rem
    }
    .description{
        font-size:1.2rem
    }
    .site{
        font-size:1.1rem;
    }

    /* END OF OUR PROJECCT AREA  */

    /* FOOTER AREA */

    .bot h2{
        font-size: 2rem;
    }

    .bot a{
        font-size:1.3rem;
    }
    .bot1 p {
        font-size:1.5rem
    }
    
    /* END OF FOOTER AREA */
}

@media only screen and (min-width: 1921px) and (max-width: 2560px) {

    /* HEADER AREA */
    .text2{
        font-size:4rem;
    }
    .zengo1{
        font-size:7rem;
    }
    .text3{
        font-size:1.8rem;
    }
    .zengo{
        font-size:4.3rem;
    }
    .text{
        font-size:1.5rem

    }
    
    /* END OF THE HEADER AREA */
    /* THE ABOUT US AREA  */

    .about{
        font-size:8rem;
    }

    .text5{
        font-size:2rem;
    }
    
    .d1{
        left: 40%;
    }
    .d2{
        left: 40%;
    }
    .d3{
        left: 40%;
    }
    .hexagon{
        padding-left:4rem
    }
    .jos h1{
        font-size:3rem;
    }
    .jos h2{
        font-size:2.1rem;
    }
    .jos a{
        font-size:1.7rem;
    }


    /* END OF THE ABOUT US AREA */

    /* OUR TEAM SECTION */

    #bg4 h3{
        font-size:2.2rem;
    }
    #bg4 h4{
        font-size:1.2rem;
    }

    
    /* END OF OUR TEAM ::selection */

    /* THE PLACE WHERE THE CAROUSEL SHOULD'VE BEEN */
    .desc h1{
        font-size:5rem
    }

    .desc1{
        font-size:2rem
    }

    /* THE END OF THE COURSEL AREA  */
    /* BLOG AREA  */
    .us{
        font-size:8rem;
    }
    .text4{
        font-size:2.1rem;
    }
    .jos4 h1{
        font-size: 1.8rem;
        font-weight: 600;
    }
    .jos4 p{
        font-size: 1.5rem;
    }

    .read{
        width: 10rem;
        height: 4rem;
        font-size: 1.7rem
    }

    
    /* END OF BLOG AREA  */


    /* ASK AREA  */
    .ask{
        font-size:4.5rem;
    }
    #bg6 h1{
        font-size:4.5rem;
    }
    #bg6 p{
        font-size:1.8rem;
    }

    /* END OF ASK AREA */
    /* OUR PROJECT ARE */
    .project{
        font-size:1.5rem
    }
    .description{
        font-size:1.2rem
    }
    .site{
        font-size:1.1rem;
    }

    /* END OF OUR PROJECCT AREA  */

    /* FOOTER AREA */

    .bot h2{
        font-size: 2rem;
    }

    .bot a{
        font-size:1.3rem;
    }
    .bot1 p {
        font-size:1.5rem
    }
    
    /* END OF FOOTER AREA */
}


/* This part is for TEsting propurse only  */
